@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: saddlebrown;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: goldenrod;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    font-size: 2rem;
    padding: 5px;
    background-color: chocolate;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.words-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 100px;
}

.words-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  border-radius: 10%;
  opacity: 0.8;
  width: 250px;
  transition: 1s;
  &:hover {
    opacity: 1;
  }
}

.english-side {
  background-color: gray;
}

.polish-side {
  background-color: red;
}
